.sections-container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 50px 0;

  .sections-header {
    flex: 1;
    h1 {
      font-size: 48px;
      font-weight: 100;
      width: 420px;
      padding: 0 100px;
    }

    p {
      margin-top: 10px;
      font-weight: 100;
      width: 420px;
      padding: 0 100px;
    }
  }

  .diff-buttons-first-batch {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: flex-start;
    h3 {
      width: 100%;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 20px;
      color: #5b5b5c;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }

    button {
      padding: 12px 24px;
      margin: 0 6px 12px 0;
      border-radius: 24px;
      height: 48px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 100;
      background-color: white;
      border: 1px solid;
    }

    .toggle-button {
      padding: 12px 24px;
      margin: 0 6px 12px 0;
      border-radius: 24px;
      cursor: pointer;
      font-size: 16px;
      background-color: #eee;
      height: 30px;
      width: 170px;
    }

    button.last-button:hover {
      background-color: #daecff; // Example hover effect for the last button
      color: #000;
      border-color: #000;
    }
    button:hover {
      background: #e7e6e6;
    }
  }
}

.show-more-show-less {
  width: 100%;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      width: 12px;
    }
  }
}
.section-colored-header {
  background: #ebebeb;
  h1 {
    color: #b24040;
    font-size: 50px;
    padding: 0 100px;
  }
}
