// Border Color
$home-highlight: rgb(233, 229, 229);
$home-border: rgb(236, 236, 236);
$general-border-color:  rgb(204, 204, 204);
// Text
$black-text: rgba(0, 0, 0, 0.9);
$soft-text: #00000099;
$box-shadow-home: rgba(149, 157, 165, 0.2) 0px 8px 24px;
