.home {
  display: flex;
  gap: 20px;
  margin: 0 100px;
  width: 1150px;
  margin: auto;
  .scrollcontainer {
    display: flex;
    gap: 20px;
    height: 1000px;
    overflow-y: scroll;
    width: 100%;
    scrollbar-width: none;
    .home-profile {
      border-radius: 20px;
      width: 320px;
    }
    .home-mainFeed {
      border: 1px solid;
      width: 100%;
      height: auto;
    }
  }

  .home-addToFeed {
     width: 350px;
  }
}
