.home {
  display: flex;
  gap: 20px;
  padding: 0 100px;
  .home-profile {
    background-color: white;
    border-radius: 20px;
    width: 30%;
  }
  .home-mainFeed {
    border: 1px solid;
    width: 75%;
    height: 200px;
  }
  .home-addToFeed {
    border: 1px solid;
    width: 30%;
    height: 200px;
  }
}
