@import "../../sass/responsive.scss";
.home {
  display: flex;
  gap: 20px;
  margin: 0 100px;
  width: 1150px;
  margin: auto;
  // this controls the width of the home screen in small containers
  @include sm {
    //if you ever get confused, please try to put colored borders here
    width: 100%;
    margin-top: 50px;
  }
  .scrollcontainer {
    display: flex;
    gap: 20px;
    height: 1000px;
    overflow-y: scroll;
    width: 100%;
    scrollbar-width: none;

    @include sm {
      //if you ever get confused, please try to put colored borders here
      width: 100%;
    }
    .home-profile {
      border-radius: 20px;
      width: 320px;

      @include sm {
        display: none;
      }
    }
    .home-mainFeed {
      //if you ever get confused, please try to put colored borders here
      width: 100%;
      height: auto;
    }
  }

  .home-addToFeed {
    width: 350px;
    @include sm {
      display: none;
    }
  }
}
