.smallHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: white;

  border-bottom: 1px solid rgb(214, 211, 211);
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    .user-icon {
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }
  }
  .searchContainer {
    width: 100%;
    margin: 0 10px;
    display: flex;
    border-radius: 2px;
    align-items: center;
    padding: 5px;
    gap: 5px;
    font-size: 16px;
    background: rgb(216, 234, 240);

    img {
      width: 16px;
      height: 16px;
    }
    input {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      font-weight: 700;
    }
  }
}

.message-icon {
  margin-right: 10px;
}
