@import "../../../sass/responsive.scss";
.findFriends {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 50px;
  margin-top: 100px;
  height: 800px;
  width: 100vw;
  @include sm {
    height: auto;
  }
  @include lg {
    gap: 20px;
  }
  .findFriendsLHS {
    background-color: rgb(240, 236, 237);
    display: flex;
    justify-content: center;
    width: 100%;

    align-items: center;
    height: 100%;
    @include sm {
      width: 100vw;
    }
    @include lg {
      width: 100%;
    }
    section {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-left: auto;
      width: 600px;
      flex-direction: column;
  

      @include sm {
        padding: 20px;
      }
      @include lg {
        padding: 20px;
        width: 100%;
      }
      h1 {
        font-size: 40px;
        text-align: start;
        width: 100%;
        color: #b24040;
        margin: 0 0 8px;
        font-weight: 400;
        @include sm {
          margin: 0;
          padding: 0;
          font-size: 32px;
          font-weight: 600;
        }
        @include lg {

          margin: 0;
          padding: 0;
          font-size: 32px;
          font-weight: 600;
        }
      }
      p {
        font-size: 40px;
        font-weight: 200;
        line-height: 1.2;
        color: rgba(0, 0, 0, 0.9);

        @include sm {
          font-size: 20px;
          width: 100%;
          font-weight: 400;
        }
      }
      .findFriendsButtons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        display: flex;
        margin-right: auto;
        margin-top: 20px;
        .FriendsButton {
          display: flex;
          justify-content: space-between;
          width: 408px;
          align-items: center;
          padding: 16px;
          height: 56px;
          color: rgba(0, 0, 0, 0.902);
          background-color: #eae6df;
          font-size: 20px;
          font-weight: 400;
          line-height: 1.25;
          cursor: pointer;

          @include sm {
            width: 80%;
          }

          &:hover {
            background-color: #dadada;
          }
        }
      }
    }
  }
  .findFriendsRHS {
    position: relative;
    height: 100%;
    @include sm {
      display: none;
    }
    @include lg {
    }

    img {
      position: absolute;
      width: auto;
      left: 5%;
      border-radius: 50%;
    }
  }
}
