@import "./sass/responsive.scss";

.homeContainer {
  width: 98vw;
  margin: 0;
  overflow: hidden;
  .homeContainerForLargeScreens {
    @include sm {
        display: none;
      }
      
    .home-header-large-screens {
      width: 100%;
      height: auto;
    }

  }

  .homeContainerForSmallScreens {
    display: none;
    @include sm {
      display: contents;
    }
  }

  .contentContainer {
    width: 100%;
  }
  .smallBaseNav{
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;

  }
}
