@import "./sass/responsive.scss";
@import "./sass/variable.scss";
.homeContainer {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: $home-border;

  @include sm {
    overflow: scroll;
  }

  .homeContainerForLargeScreens {
    @include sm {
      display: none;
    }

    .home-header-large-screens {
      width: 100%;
      height: auto;
      position: fixed;
      top: 0;
      z-index: 1;
      background-color: white;
      border: 1px solid rgb(212, 212, 212);
    }
    .content-container {
      margin-top: 100px;
    }
  }

  .homeContainerForSmallScreens {
    display: none;
    @include sm {
      display: contents;
    }
    .home-header-small-screens {
      position: fixed;
      top: 0;
    }
    .small-screen-contentContainer {
      width: 100%;
    }
    .smallBaseNav {
      position: fixed;
      bottom: 0;
      height: 50px;
      width: 100%;
    }
  }
}
