@import "./sass/responsive.scss";
.App {
  @include sm {
    width: 100vw;
    overflow: hidden;
  }

  @include lg {
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-left: auto;
    width: 100vw;
  }
}
