@import "../../../sass/variable.scss";
.homeProfileContainer {
  width: 100%;
  border-radius: 10px;
  color: $soft-text;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .profileContainer {
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);

    section {
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid $home-highlight;
      .profilePishurContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 60px;

        .card-svg {
          width: 100%;
          height: 100%;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
        .profilepishur {
          width: 75px;
          position: absolute;
          top: 50%;
          border-radius: 50%;
          height: 75px;
        }
      }
      .profile-userName {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        font-size: 16px;
        font-weight: 600;

        color: $black-text;
      }

      .jobtitle {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        margin-top: 4px;
        text-align: center;
      }
    }
    .profileAnalytics {
      padding: 10px 0;
      // border-bottom: 1px solid $home-border;
      div {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
        font-size: 12px;
        cursor: pointer;
        &:hover {
          background-color: $home-highlight;
        }
        .blueText {
          color: #0a66c2;
        }
      }
    }

    .home-reactivateAI {
      &:hover {
        background-color: $home-highlight;
        cursor: pointer;

        .reactivate-AI-Text {
          color: #0a66c2;
        }
      }

      span {
        display: flex;
        align-items: center;
        padding: 2px 10px;
        font-size: 12px;
      }

      .reactivate-AI-Text {
        display: flex;
        gap: 5px;

        color: $black-text;
        font-weight: 700;

        .small-brown-square {
          width: 12px;
          height: 12px;
          background-color: rgb(255, 145, 0);
          border-radius: 2px;
        }
      }
    }

    .savedItems {
      display: flex;
      font-size: 12px;
      font-weight: 700;
      align-items: center;
      gap: 10px;
      padding: 12px 10px;
      color: $black-text;
      cursor: pointer;

      &:hover {
        background-color: $home-highlight;
      }
    }
  }

  .recents-groups {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);

    .recents {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      padding: 10px 0;
      height: 20px;

      img {
        display: none;
        padding: 10px;
        &:hover {
          background-color: $home-highlight;
        }
      }
      // When I hover over recents, display the svg
      &:hover {
        img {
          display: flex;
          border-radius: 50%;
        }
      }
    }
    // this is the styling for the recents content
    .recentsContent {
      font-size: 12px;
      margin-top: 0;
    }

    .groups {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    span {
      font-size: 12px;
      font-weight: 700;
      color: #0a66c2;
    }

    img {
      display: none;
      padding: 10px;
      &:hover {
        background-color: $home-highlight;
      }
    }
    // this controls Group Elements when hovering
    &:hover {
      span {
        text-decoration: underline;
      }
      img {
        display: flex;
        border-radius: 50%;
      }
    }
    
  }
  }
}
